ezdxf
fonttools
munkres==1.1.4
numpy
packaging
ply
pyparsing
PyQt5==5.15.10
PyQt5_sip
sip
six
svgwrite
toml
tomli
typing_extensions
unicodedata2
python 3.10
https://anaconda.org/jnwalther/pythonocc-core/files
conda install -c conda-forge pythonocc-core=7.9.0
